html, body{
    padding: 0;
    margin: 0;
}

header{
    color: #13BEF9;
    font-family: 'Abril Fatface', cursive;
}

footer{
    color: #8a8a94;
    height: 50px;
    text-align: center;
}

#background{
    height: 100vh;
}

#works{
    font-family: 'Abril Fatface', cursive;
    color: #13BEF9;
    list-style: none;
    text-align: center;
}
